:root {
  --accent-color: #2196f3;
  --text-color-main: #212121;
  --text-color-secondary: #757575;
  --background-color-main: #ffffff;
  --background-color-secondary: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color-main);
  background-color: var(--background-color-main);
}

/* ----------------------------------------Скидування стилів/Утиліти---------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------------------------------------Хедер---------------------------------------- */
.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header > .container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo-part {
  color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-main);
  text-decoration: none;
}

.contacts-list-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
  text-decoration: none;
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--accent-color);
}

.navigation-list,
.contacts-list {
  display: flex;
  list-style: none;
}

.container .contacts-list {
  margin-left: auto;
}

.navigation-list-item > a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list-item > .current {
  color: var(--accent-color);
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list-item + .contacts-list-item {
  margin-left: 30px;
}

/* -------------------------------------------іконки------------------------------------------- */

/* ---------------------------Хедер іконки--------------------------- */
.contacts-list-link:focus > .envelope {
  fill: var(--accent-color);
}
.contacts-list-link:hover > .envelope {
  fill: var(--accent-color);
}

.envelope {
  margin-right: 10px;

  width: 16px;
  height: 16px;
  fill: #757575;
}

.smartphone {
  margin-right: 10px;

  width: 10px;
  height: 16px;
  fill: #757575;
}

.contacts-list-link:focus > .smartphone {
  fill: var(--accent-color);
}
.contacts-list-link:hover > .smartphone {
  fill: var(--accent-color);
}
/* ---------------------------Index іконки--------------------------- */
.icon-advantage-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.icon-advantage {
  width: 70px;
  height: 70px;
}

.social-link-list {
  display: flex;
  margin-bottom: 30px;
  gap: 10px;
  justify-content: center;

  list-style: none;
}

.client-list {
  display: flex;
  gap: 30px;

  list-style: none;
}

.client-list-item {
  width: calc((100% - 150px) / 6);
}

.client-list-link:hover,
.client-list-link:focus {
  border: 1px solid var(--accent-color);
}

.client-list-link:hover .icon-client,
.client-list-link:focus .icon-client {
  fill: var(--accent-color);
}

.client-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.icon-client {
  fill: #afb1b8;
}

.icon-social-link {
  fill: #afb1b8;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-link:hover {
  background-color: var(--accent-color);
}

.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover > .icon-social-link {
  fill: #ffffff;
}

.social-link:focus > .icon-social-link {
  fill: #ffffff;
}

/* ---------------------------Футер іконки--------------------------- */
.join-list-item {
  list-style: none;
}

.join-list-item > a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.join-list-item > a > svg {
  fill: #ffffff;
}

.join-list-item > a:hover,
.join-list-item > a:focus {
  background-color: var(--accent-color);
}

/* ----------------------------------------Кнопки---------------------------------------- */
.button-order {
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
}

.button-order:hover,
.button-order:focus {
  background: #188ce8;
}

.button-portfolio {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

/* ----------------------------------------Футер---------------------------------------- */
.footer-style {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--background-color-secondary);
  border: 1px solid #ececec;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

.contacts-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-list {
  font-style: normal;
  list-style: none;
}

.address-list > li:not(:last-child) {
  margin-bottom: 9px;
}

.physical-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.footer-flex {
  display: flex;
  gap: 70px;
}

.join-title {
  margin-top: 12px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.join-list {
  display: flex;
  gap: 10px;
}

/* ----------------------------------------Прихований контент---------------------------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------------------Index.html---------------------------------------- */
.main-section.section {
  margin: 0 auto;

  max-width: 1600px;
  height: 600px;
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
  background-color: var(--background-color-secondary);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/background-image-hero.jpg);
}

.main-title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.advantage-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-list {
  display: flex;
}

.advantage-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantage-list-item {
  list-style: none;
  width: calc((100% - 90px) / 4);
}

.advantage-description {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

.secondary-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-samples.section {
  padding-top: 0;
}

.samples-list {
  display: flex;
}

.samples-list-item {
  width: calc((100% - 60px) / 3);
  list-style: none;
}

.samples-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-team {
  background-color: #f5f4fa;
}

.member-list {
  display: flex;
}

.team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

.member-list-description {
  padding-top: 30px;
  padding-bottom: 16px;
}

.member-list-item {
  width: calc((100% - 90px) / 4);
  background: var(--background-color-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  list-style: none;
}

.member-list-item:not(:last-child) {
  margin-right: 30px;
}

/* ----------------------------------------Модальне вікно---------------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* ----------------------------------------Portfolio.html---------------------------------------- */
.list-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  list-style: none;
}

.list-filter > li:not(:last-child) {
  margin-right: 8px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-list-item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  list-style: none;
}

.project-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-list-description {
  padding: 20px 24px;
}

.project-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}
